.card__img_detail__Cart {
  width: 25%;
  height: auto;
  object-fit: contain;
  margin: auto 1rem;
}
.cart {
  padding: 2rem;
}

.cart__item {
  position: relative;
  display: flex;
  background-color: rgb(240, 240, 240);
  margin-block: 25px;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.3);
}
.clean__btn {
  border: none;
  border-radius: 6px;
  background-image: linear-gradient(
    to top,
    rgba(211, 111, 72, 0.925),
    rgb(141, 81, 46)
  );
  /* ---jugar with buttons rgba-- */
  color: rgb(255, 255, 255);
  margin-bottom: 1rem;
  padding: 10px;
  font-weight: bold;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.8);
}
.clean__btn:hover {
  transform: scale(1.02);
  transition: all 250ms;
}
.contain__Userdates {
  text-align: center;
}

.buy__btn {
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    to top,
    rgb(69, 97, 133),
    rgb(117, 127, 157)
  );
  color: rgb(255, 255, 255);
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.8);
}
.buy__btn:hover {
  transform: scale(1.02);
  transition: all 250ms;
}
.container__orderId {
  background-color: #bf408080;
  padding: 2rem;
  border-radius: 4rem;
}
.p__orderId {
  color: var(--title-color);
  font-weight: 600;
  text-align: center;
}

.clean__paragraph {
  font-size: 1.2rem;
  padding: 1rem;
  background-color: hsla(53, 41%, 59%, 0.925);
  border-radius: 4rem;
}

.itemInfo {
  padding-right: 2rem;
}

.item__Img {
  width: 17rem;
  padding: 0.1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.3);
  margin-right: 1.6rem;
}

/*other options btn  */
.remove_Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 15px;
  width: 25px;
  border: none;
  color: rgb(94, 94, 94);
  font-size: 1.5rem;
}
.remove_Btn:hover {
  color: rgb(255, 95, 95);
  transition: all 150ms;
}

.totalPrice {
  margin: 0 auto;
  padding: 1rem;
  text-align: start;
  font-weight: bolder;
}
@media screen and (min-width: 250px) and (max-width: 514px) {
  .cart__item {
    flex-direction: column;
    padding: 1.6rem;
    align-items: center;
    width: 84%;
    margin-left: 1.6rem;
  }
  .cart {
    padding: 1.2rem;
  }
  .item__Img {
    width: 12rem;
    margin-left: 1rem;
  }
  .title__Cart {
    margin-left: -1rem;
  }
}
