.buy__Modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.425);
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.cleanCart_btn {
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(
    to top,
    rgb(69, 97, 133),
    rgb(117, 127, 157)
  );
  color: rgb(255, 255, 255);
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  box-shadow: 2px 3px 8px 0px rgba(0, 0, 0, 0.8);
}
.cleanCart_btn:hover {
  transform: scale(1.02);
  transition: all 250ms;
}

.userForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 50%;
  width: 250px;
  padding: 20px;
  background-color: rgb(213, 224, 235);
  border-radius: 10px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.3);
}
input {
  margin-block: 10px;
}
.closeForm {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
}
