.navbar__item {
  border: none;
  background-color: transparent;
  color: var(--gray-light-color);
  font-family: "Nunito", sans-serif;
  font-size: 1.045rem;
  font-style: oblique;
}

@media screen and (min-width: 769) and (max-width: 1024px) {
  .navbar__item {
    font-size: 0.9rem;
  }
}
