.navbar__item {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Nunito", sans-serif;
  visibility: visible;
  font-size: 1.045rem;
}

.activeItems {
  color: orange;
}
