.itemListContainer {
  background-color: hsla(53, 41%, 59%, 0.925);
  width: 100%;
  margin: auto;
  max-width: 100%;
}
@media screen and (min-width: 250px) and (max-width: 410px) {
  .itemListContainer {
    margin: 0 auto;
  }
}
