.containerPrice {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.price {
  color: rgb(80, 173, 80);
  font-weight: bold;
  font-size: 1.2rem;
}

.card {
  width: 22%;
  padding: 1rem 0.3rem;
  overflow: hidden;
  background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
  border-radius: 10px;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
  box-shadow: 0 0 6px var(--color_shadow);
}

.card__img {
  width: 95%;
  height: 200px;
  object-fit: contain;
  border-radius: 3rem;
}

.cards__text {
  text-align: left;
  width: 90%;
  margin: 0 auto;
  color: var(--white-alpha-color);
}

/* .card__list {
  color: var(--text-color);
  font-weight: 700;
  margin: 25px 0 12px;
  font-size: 18px;
} */

.card__title {
  font-size: 30px;
  color: var(--title-color);
  margin-bottom: 8px;
  display: none;
}

/* .card__copy {
  color: var(--white-alpha-color);
  margin-bottom: 16px;
} */

.card__button {
  display: block;
  background: linear-gradient(180deg, #f7ce90 0%, #f4bd76 100%);
  border-radius: 6px;
  text-decoration: none;
  width: 100%;
  color: var(--black1);
  font-weight: 700;
  text-align: center;
  padding: 12px 0;
}
