.Button_Link {
  color: var(--white-alpha-color);
  border: transparent;
  text-decoration: none;
  text-align: center;
  padding: 0.4rem;
  border-radius: 2rem;
}
.Button_Link:hover {
  transform: perspective(6, 6);
  transition: cubic-bezier(0.39, 0.575, 0.565, 1);
  background-color: rgb(84, 68, 78);
}

.containerPrice {
  width: 95%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.price {
  color: rgb(80, 173, 80);
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 0.1rem;
  margin-top: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  /* New */
  width: 310px;
  margin-bottom: 60px;
  box-shadow: 0 0 6px var(--color_shadow);
}

@media screen and (min-width: 250px) and (max-width: 410px) {
  h1 {
    margin-left: 2rem;
  }
  .card {
    padding: 0.4rem;
    width: 215px;
  }
  .Button_Link {
    font-size: 1rem;
  }
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 5px 10px 20px 1px rgba(255, 235, 235, 0.273);
  transition: all 0.7s linear;
}

.overflow__img {
  overflow: hidden;
}
/*  */

.card__img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 10px 0 0 10px;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: all 0.2s ease-in-out;
}
.card__img:hover {
  transform: scale(1.8);
}

.cards__text {
  text-align: left;
  width: 100%;
  margin: 0 auto;
  padding: 0.4rem;
  color: var(--white-alpha-color);
  /* or black */
  font-weight: inherit;
  display: inline-block;
}

.description {
  font-size: 1.1rem;
}
