/* Desktop Views */

.contain__cart {
  padding-right: 3rem;
}

.contain__logout {
  margin-left: 0.6rem;
  padding-top: 0.255rem;
}

.NavBar {
  display: flex;
  background: transparent;
  justify-content: space-around;
  align-items: center;
  height: var(--header-height);
  z-index: 890;
}

.NavOptionsLeft {
  padding-left: 1.5rem;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 3rem;
  list-style-type: none;
}

.NavOptionsRight {
  height: 2rem;
  display: grid;
  list-style-type: none;
}

.LeftNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.RightNav {
  display: flex;
  padding: 0 0.3rem;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.Option {
  background-color: var(--title-color);
  text-decoration: none;
  border-radius: 1.3rem;
  padding: 0.65rem;
  transition: all 0.2s ease-in-out;
}
.Option:hover {
  background: transparent;
  transition: all 450ms;
  transform: perspective();
}

.Option::after {
  transform: translateY(-5px);
  transform: translateX(+5px);

  content: "";
  display: block;
  width: 0%;
  border-bottom: solid 2px white;
  opacity: 0;
}
.Option:hover::after {
  opacity: 1;
  width: 85%;
  transition: all 500ms;
}

.navLinkActive {
  color: orange;
}
.navLinkActive::after {
  opacity: 1;
  width: 90%;
}

/* Header */
.header {
  width: 100%;
  height: var(--header-height);
  background-color: var(--header-alpha-color);
}

/* ------ */

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

/* .menu__icon {
  padding-right: 1rem;
  padding-top: 0.3rem;
} */

.icon_button {
  outline: thin;
  width: 100%;
  border: 0;
  height: 4vh;
  /* background-color: var(--gray-light-color); */
  display: none;
}

@media screen and (max-width: 768px) {
  .App-logo {
    display: none;
  }
  .icon_button {
    display: inline-block;
    top: 0;
    right: 0;
    padding: 1rem;
    position: absolute;
    font-size: 1.8rem;
    cursor: pointer;
  }
  .NavOptionsLeft {
    display: none;
  }
  .Option {
    display: none;
  }
}

@media only screen and (min-width: 769px) and (max-width: 824px) {
  .NavOptionsLeft {
    grid-gap: 2.3rem;
    padding-left: 0rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (min-width: 150px) and (max-width: 680px) {
  .NavBar {
    margin: 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
