/* ******* Custom Properties ********* */
:root {
  --first-color: #d90062;
  --first-alpha-color: rgba(111, 75, 128, 0.884);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --title-color: #333;
  /* ---------------------- */
  --black1: #1a1b1f;
  --black2: #30353b;
  --color_shadow: #00000033;
  /* ---------------------- */
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --header-alpha-color: #7e5d57;
  /* --font: "Raleway", sans-serif; */
  --max-width: 1200px;
  --header-height: 4.5rem;
}

/***********Reset****** */

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  background-color: hsla(53, 41%, 59%, 0.925);
  /* background-color: rgba(9, 65, 32, 0.603); */
}

h1 {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

.text-left {
  text-align: left;
  margin: 1rem;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  /* .container__cards {
    width: 60%;
  } */
  /* itemlistcontainer width: 60% */
  .card {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
  }
}

/* ********Utilities****** */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

/* **********App default******** */
