/* ******* Custom Properties ********* */
:root {
  --first-color: #d90062;
  --first-alpha-color: rgba(111, 75, 128, 0.884);
  --second-color: #14192d;
  --second-alpha-color: rgba(20, 25, 45, 0.75);
  --third-color: #501464;
  --third-alpha-color: rgba(80, 20, 100, 0.75);
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --gray-dark-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --pale-green: #32cd32;
  --title-color: #333;
  /* ---------------------- */
  --black1: #1a1b1f;
  --black2: #30353b;
  --color_shadow: #00000033;
  /* ---------------------- */
  --text-color: #222;
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --header-alpha-color: rgba(105, 101, 38, 0.575);
  /* --font: "Raleway", sans-serif; */
  --max-width: 1200px;
  --header-height: 4rem;
}

/***********Reset****** */

.hidden {
  display: none;
}

.text-left {
  text-align: left;
  margin: 1rem;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .card {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
  }
}

/* ********Utilities****** */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

/* **********App default******** */
.App {
  position: relative;
  background-color: rgba(16, 53, 78, 0.5);
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  z-index: 0;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
