/* --------Utilities */
.parrafoGaleria {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin: 1rem;
}
main {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
